html,
body {
  height: 100%;
}

fieldset {
  margin-top: 15px;
  margin-bottom: 15px;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 100px 15px 20px;
}

.footer {
  /* height: 60px; */
  color: #ffffff;
  background-color: #011f7c;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

form div.required label.control-label:after {
  content: " * ";
  color: red;
}

@media (max-width: 425px) {
  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 25px;
  }

  .pull-right {
    float: none !important;
  }
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

/* Customizations */
.sys-navbar {
  background-color: rgba(0, 27, 114, 0.95) !important;
  border-color: #001b72 !important;
  line-height: 30px;
}

.sys-navbar > .container > .navbar-collapse {
  height: 90px !important;
}

.navbar-collapse:after {
  background-color: aqua;
}

.navbar-header .navbar-brand,
.navbar-nav,
.navbar-toggle,
.nav > li > a {
  height: 90px !important;
}

.navbar-nav > li > a,
.logout {
  line-height: 70px;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}

.logout:hover {
  color: #004ea1;
  background-color: #5cc3fa;
  padding-bottom: 5px !important;
}

@media (min-width: 500px) and (max-width: 1200px) {
  .navbar-header {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .sys-navbar > .container > .navbar-collapse {
    height: 100% !important;
  }

  .navbar-nav > li {
    width: 100%;
  }

  .navbar-nav,
  .navbar-toggle,
  .nav > li > a {
    height: 100% !important;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .sys-navbar > .container > .navbar-collapse {
    height: 100% !important;
  }

  .navbar-nav,
  .navbar-toggle,
  .nav > li > a {
    height: 100% !important;
  }

  .nav > li > a {
    line-height: 30px;
  }
}

.nav > li:hover > a {
  color: #004ea1;
  background-color: #5cc3fa;
}

.navbar-logo {
  height: inherit;
  width: 100%;
  /* background: url(../images/logo-checkup.png); */
  margin-top: -13px;
}

.navbar-logo img {
  padding: 0;
  display: block;
  width: auto;
  height: auto;
  max-height: 100%;
  image-rendering: auto;
  position: relative;
  z-index: 2;
  height: 100%\9;
  height: auto\9;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.navbar-toggle {
  background-color: #001b72 !important;
  border-color: #001b72 !important;
}

.navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.75);
}

.navbar-nav > li.active > a {
  background-color: rgba(206, 7, 7, 0.75) !important;
}

.dropdown-menu > .active > a {
  background-color: rgba(206, 7, 7, 0.75) !important;
  color: #ffffff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.img-document {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.img-document-cover {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding: 10px;
}

.img-icon {
  width: inherit;
  height: inherit;
  max-width: 150px;
  max-height: 150px;
}

.form-tab {
  padding: 10px;
}

/* .tabs-above.tab-bordered .tab-content {
  background-color: #f5f5f5;
}
*/
.tabs-above > .nav-tabs {
  line-height: 70px;
  font-size: 13px;
  text-transform: uppercase;
}

.tabs-above .nav > li > a {
  height: 40px !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 20px;
}

.list-group-item > span {
  font-size: 18px;
  font-weight: bold;
}

.dropdown-menu > li > a {
  line-height: 3.428571;
  /* background-color: #001b72; */
  /* color: #ffffff; */
}

@media (max-width: 425px) {
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
    color: #ffffff;
    padding: 10px 20px;
  }
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #001b72 !important;
  color: #ffffff !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #001b72;
}

/** Calendar **/

#id {
  margin-top: 10px;
  margin-bottom: 10px;
}

#calendar {
  /* max-height: 600px; */
  margin: 0 auto;
}

.fc-time-grid .fc-slats td {
  height: 5em;
}

/*** Login Popup **/

.user-modal-container * {
  box-sizing: border-box;
}

.user-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  overflow-y: auto;
  z-index: 3;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  background-color: rgba(17, 17, 17, 0.9);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.user-modal-container.active {
  opacity: 1;
  visibility: visible;
}

.user-modal-container .user-modal {
  position: relative;
  margin: 15% auto;
  width: 90%;
  max-width: 500px;
  background-color: #f6f6f6;
  cursor: initial;
}

.user-modal-container .form-login,
.user-modal-container .form-register,
.user-modal-container .form-password {
  padding: 50px 25px 25px;
  display: none;
}

.user-modal-container .form-login.active,
.user-modal-container .form-register.active,
.user-modal-container .form-password.active {
  display: block;
}

.user-modal-container ul.form-switcher {
  margin: 0;
  padding: 0;
}

.header-login {
  font-size: 40px;
  background-color: #001b72;
  color: #fff;
  text-align: center;
}

.list-group-item {
  margin-top: 10px;
}

.panel-index > .panel-heading {
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 0px;
}

.panel-index > .panel-body {
  color: #ffffff;
  padding: 20px 30px 30px 30px;
  text-align: center;
  border-radius: 0px;
}

.panel-index > .panel-body a {
  margin-top: 20px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: transparent;
}

.admin {
  background-color: #0865b2;
}

.paciente {
  background-color: #dd7349;
}

.medico {
  background-color: #edcf54;
}

/* @media (min-width: 426px) {
  .ui-menu {
    margin-top: auto !important;
    top: 415px !important;
  }
}

@media (max-width: 425px) {
  .ui-menu {
    margin-top: auto !important;
    top: 522px !important;
  }
} */

.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 150px;
}

.fc-time-grid-event .fc-title {
  font-size: 1.4rem !important;
  text-align: center !important;
  display: flow-root !important;
}

.fc-event {
  cursor: pointer;
}

.fc-event:hover {
  background-color: #a94442 !important;
  border-color: #a94442 !important;
}

/* .fc-short {
  top: auto !important;
} */

.fc th {
  font-size: 1.8rem;
}

.selected-event {
  background-color: #a94442 !important;
  border-color: #a94442 !important;
}

[v-cloak] {
  display: none;
}
